/Glagolev3/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/e3c0a8c6-97f1-47d9-816d-4f2839c65bd9.vsidx
/Glagolev3/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
/Glagolev3/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
/Glagolev3/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/Glagolev3/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/Glagolev3/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/Glagolev3/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Glagolev3/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
/Glagolev3/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
/Glagolev3/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/Glagolev3/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
/Glagolev3/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
/Glagolev3/ConsoleApp1/obj/project.assets.json
/Glagolev3/ConsoleApp1/obj/project.nuget.cache
